<h2>Ruby on Rails Guides (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  Estes são <b>Guias Não Estáveis</b>, baseados no *commit* <a href="https://github.com/rails/rails/tree/<%= @edge %>">main@<%= @edge[0, 7] %></a>.
</p>
<p>
  Se você está procurando por aqueles da versão estável, por favor verifique
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>.
</p>
<% else %>
<p>
  Estes são os novos guias para o Rails 7.0 baseados na versão <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  Esses guias são projetados para torná-lo imediatamente produtivo com o Rails e para te ajudar a entender como todas as peças se encaixam.
</p>
<% end %>
<p>
Guias para versões anteriores:
<a href="https://guides.rubyonrails.org/v6.1/" data-turbolinks="false">Rails 6.1</a>,
<a href="https://guides.rubyonrails.org/v6.0/" data-turbolinks="false">Rails 6.0</a>,
<a href="https://guides.rubyonrails.org/v5.2/" data-turbolinks="false">Rails 5.2</a>,
<a href="https://guides.rubyonrails.org/v5.1/" data-turbolinks="false">Rails 5.1</a>,
<a href="https://guides.rubyonrails.org/v5.0/" data-turbolinks="false">Rails 5.0</a>,
<a href="https://guides.rubyonrails.org/v4.2/" data-turbolinks="false">Rails 4.2</a>,
<a href="https://guides.rubyonrails.org/v4.1/" data-turbolinks="false">Rails 4.1</a>,
<a href="https://guides.rubyonrails.org/v4.0/" data-turbolinks="false">Rails 4.0</a>,
<a href="https://guides.rubyonrails.org/v3.2/" data-turbolinks="false">Rails 3.2</a>,
<a href="https://guides.rubyonrails.org/v3.1/" data-turbolinks="false">Rails 3.1</a>,
<a href="https://guides.rubyonrails.org/v3.0/" data-turbolinks="false">Rails 3.0</a>, e
<a href="https://guides.rubyonrails.org/v2.3/" data-turbolinks="false">Rails 2.3</a>.
</p>
