<h2>Ruby on Rails Guides (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  Estes são <b>Edge Guides</b>, baseados em <a href="https://github.com/rails/rails/tree/<%= @edge %>">master@<%= @edge[0, 7] %></a>.
</p>
<p>
  Se você está procurando por aqueles da versão estável, por favor verifique
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>.
</p>
<% else %>
<p>
  Estes são os novos guias para o Rails 5.2 baseados na versão <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  Esses guias são projetados para torná-lo imediatamente produtivo com o Rails e para te ajudar a entender como todas as peças se encaixam.
</p>
<% end %>
<p>
Guides para versões anteriores:
<a href="https://guides.rubyonrails.org/v5.2/">Rails 5.2</a>,
<a href="https://guides.rubyonrails.org/v5.1/">Rails 5.1</a>,
<a href="https://guides.rubyonrails.org/v5.0/">Rails 5.0</a>,
<a href="https://guides.rubyonrails.org/v4.2/">Rails 4.2</a>,
<a href="https://guides.rubyonrails.org/v4.1/">Rails 4.1</a>,
<a href="https://guides.rubyonrails.org/v4.0/">Rails 4.0</a>,
<a href="https://guides.rubyonrails.org/v3.2/">Rails 3.2</a>,
<a href="https://guides.rubyonrails.org/v3.1/">Rails 3.1</a>,
<a href="https://guides.rubyonrails.org/v3.0/">Rails 3.0</a>, e
<a href="https://guides.rubyonrails.org/v2.3/">Rails 2.3</a>.
</p>
