<% content_for :page_title do %>
Guia Ruby on Rails
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <dd class="kindle">O Guia Rails em breve estará disponível na para Kindle, enquanto isso você pode acessar o <a href="https://guides.rubyonrails.org/kindle/ruby_on_rails_guides_v5.2.2.mobi">oficial em inglês.</a></dd>
    <!-- <dd class="kindle">O Rails Guides também está disponível para <%= link_to 'Kindle', @mobi %>.</dd> -->
    <dd class="work-in-progress">Os guias marcados com este ícone estão sendo em processo de tradução no momento e não estarão disponíveis no menu. Embora ainda sejam úteis, podem conter informações incompletas e até erros. Você pode ajudar revendo-os e publicando comentários e correções.</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
