<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:page_title) %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbolinks-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbolinks-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/search.css" data-turbolinks-track="reload">
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script src="javascripts/turbolinks.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/clipboard.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/guides.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/search.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/lunr-documents.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/lunr.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/toggle-theme.js" data-turbolinks-track="reload"></script>
  <meta property="og:title" content="<%= yield(:page_title) %>" />
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:description" content="<%= yield(:description) %>" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:site_name" content="Guia Ruby on Rails" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/4223" />
  <meta property="og:type" content="website" />
</head>
<body class="guide">
  <% if badge_version = @edge ? "edge" : @version %>
  <div>
    <div id="version-badge"><%= badge_version %></div>
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">Veja mais em <a href="https://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        Mais Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://weblog.rubyonrails.org/">Blog</a></li>
        <li class="more-info"><a href="https://guides.rubyonrails.org/">Guia oficial</a></li>
        <li class="more-info"><a href="https://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://discuss.rubyonrails.org/">Forum</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">Contribua no GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Voltar para a página principal">Guiarails.com.br</a></h1>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Home</a></li>
        <li class="guides-search guides-search-large">
          <input class="search-box search-box-large nav-item" type="text" placeholder="Digite o termo...">
          <div class="search-results"></div>
          <div class="search-spinner">Aguarde...</div>
        </li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Guias</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="guides-section-container">
              <% documents_by_section.each do |section| %>
                <div class="guides-section">
                  <dt><%= section['name'] %></dt>
                  <% section['documents'].each do |document| %>
                  <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                  <% end %>
                </div>
              <% end %>
            </div>
          </dl>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Contribua</a></li>
        <li class="guides-search guides-search-small">
          <input class="search-box search-box-small nav-item" type="text" placeholder="Digite o termo...">
          <div class="search-results"></div>
          <div class="search-spinner">Aguarde...</div>
        </li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Guias</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% section['documents'].each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>

        <h3>Feedback</h3>
        <p>
          Você é incentivado a ajudar a melhorar a qualidade deste guia.
        </p>
        <p>
          Por favor, contribua se vir qualquer erros, inclusive erros de digitação.
          Para começar, você pode ler nossa sessão de <%= link_to 'contribuindo com a documentação', 'https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation' %>.
        </p>
        <p>
          Você também pode encontrar conteúdo incompleto ou coisas que não estão atualizadas.
          Por favor, adicione qualquer documentação em falta na main do Rails. Certifique-se de checar o
          <%= link_to 'Edge Guides (en-US)', 'http://edgeguides.rubyonrails.org' %> primeiro para verificar
          se o problema já foi resolvido ou não no branch main.
          Verifique as <%= link_to 'Diretrizes do Guia Ruby on Rails', 'ruby_on_rails_guides_guidelines.html' %>
          para estilo e convenções.
        </p>
        <p>
          Se, por qualquer motivo, você encontrar algo para consertar, mas não conseguir consertá-lo, por favor
          <%= link_to 'abra uma issue no nosso Guia', 'https://github.com/campuscode/rails-guides-pt-BR/issues' %>.
        </p>
        <p>
          E por último, mas não menos importante, qualquer tipo de discussão sobre a documentação do Ruby on Rails
          é muito bem vinda na <%= link_to 'lista de discussão rubyonrails-docs', 'https://discuss.rubyonrails.org/c/rubyonrails-docs' %> e nas
          <%= link_to 'issues do Guia em português', 'https://github.com/campuscode/rails-guides-pt-BR/issues' %>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>
  <div id="toggle">
    <img alt="dark theme icon" class="icon">
  </div>
</body>
</html>
